@import '../../bower_components/reset-scss/reset.scss';
@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '_variables.scss';

body {
	overflow-y: hidden;
	line-height: 1;
	font-size: 16px;
	font-family: 'Roboto', Arial, sans-serif;
}
.content p {
	line-height: 20px;
}

* {
	box-sizing: border-box;
}
.wrapper-block {
	width: 100%;
	height: 100%;
}
.head-site {
	height: $headHeight;
	border-bottom: 1px solid $g-dark-grey;
	background: $g-green;
}

.content {
	@include calc(height, "100vh - #{$headHeight}");
}
.super-flex {
	display: flex;

	.super-flex__aside {
		width: 30%;
		overflow-y: auto;
		height: 100%;
		min-height: 100%;
		padding: 30px 20px;

	}

	.super-flex__content {
		width: 70%;
		padding-left: 20px;
		overflow-y: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.aside {

	.aside__content {

		p {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.container-coub {
	$coubSide: 360px;

	.coub {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: $coubSide;
		height: $coubSide;
		padding: 30px;
		margin: 0 auto;
		position: relative;

		.coub__box {
			width: 48%;
			height: 48%;
			padding: 5px;
			margin: 1%;
			background: $g-blue;
			text-align: center;
			color: #fff;
			font-size: 18px;
			cursor: pointer;
			display: table;
			@include transition(all ease-in-out .2s);

			&:hover {
				background: $g-orange;
			}
			p {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.coub__side {
			$sideHeight: 20px;
			position: absolute;
			width: 100%;
			line-height: $sideHeight;
			text-align: center;
			color: $g-light-grey;
			font-size: 18px;

			&.coub__side--left {
				bottom: 0;
				left: 0;
				transform: rotate(-90deg);
				@include transform-origin(left top);
				text-transform: uppercase;
				margin-bottom: -$sideHeight;
			}

			&.coub__side--top {
				top: 0;
				left: 0;
			}
			&.coub__side--right {
				bottom: 0;
				right: 0;
				@include transform(rotate(-90deg) translateY($coubSide - $sideHeight) )
				@include transform-origin(left top);
				text-transform: uppercase;
				margin-bottom: -$sideHeight;
			}
			&.coub__side--bottom {
				bottom: 0;
				left: 0;
			}

		}
	}
}
